*, *::before, *::after {
  box-sizing: border-box;
}

@font-face {
  font-family: Comic-Sans-MS;
  src: url(../assets/Comic-Sans-MS.ttf);
  fallback: arial;
}

html{
  background-color: black;
}

body {
  background-color: rgb(0, 0, 0);
  margin: 0;
  padding: 0;
}

 header {
  background-image: url(../assets/bg.svg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
  align-content: center;
  height: 100vh;
  background-color: #000000;
}

header h1 {
  color: aliceblue;
  margin-left: 50vh;
  margin-right: 110vh;
  font-family: Comic-Sans-MS;
  align-content: center;
  text-align: left;
  border-bottom: 3px solid aliceblue;
  line-height: 66px;
}

header p {
  margin-left: 60vh;
  font-size: 24px;
  color: aliceblue;
}

@media screen and (max-width: 800px) {
  header h1 {
    margin-left: 10%;
    margin-bottom: 0%;
    border-bottom: none;
    line-height: normal;
  }
  header p {
    margin-top: 0%;
    margin-left: 10%;
  }
}

.project-card {
  flex: 1 1 0;
  margin: 5%;
  max-width: 50vh;
  outline: 5px solid rgb(0, 0, 0);
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  box-shadow: 10px 10px 10px rgb(0, 17, 255);
}

.project-img {
    display: flex;
    margin-top: 2vh;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    outline: 3px solid rgb(0, 0, 0);
    width: 100px;
    height: 100px;
    border-radius: 15%;
}

.project-card h2 {
    text-align: center;
    font-family: Comic-Sans-MS;
    margin-bottom: -15px;
}

.project-card .title {
    text-align: center;
    font-size: 80%;
    font-family: Comic-Sans-MS;
    color: rgb(0, 170, 248);
}

.project-card .description{
    text-align: center;
    margin: 10px;
}

.project-card .btn {
  font-size: 80%;
  text-decoration: none;
  font-family: Comic-Sans-MS;
  margin: 0 auto;
  text-align: center;
  padding: 7px;   
  background-color: rgb(0, 170, 248);
  border-radius: 5px;
  color: rgb(255, 255, 255);
}
.project-card .btn:hover {
  background-color: blue;
}

.project {
  display: flex;
  justify-content: center;
  margin: 0;
  background-image: linear-gradient(black,rgb(1, 8, 109));
}

@media screen and (max-width: 800px) {
  .project {
    flex-direction: column;
  }
}

.about {
  margin-left: 5%;
  margin-right: 1%;
  color: aliceblue;
}

.titles {
  color: aliceblue;
  font-family: Comic-Sans-MS;
  font-size: 32px;
  margin: auto;
  margin-left: 1%;
  padding-right: 5%;
  text-align: end;
  border-bottom: 3px solid aliceblue;
  line-height: 66px;
}

main {
  margin-bottom: 0%;
}

footer {
  background: linear-gradient(rgb(1, 8, 109), black, black, black);
  margin-top: 0;
  display: flex;
  justify-content: center;
  color: aliceblue;
  height: 10em;
  width: 100%;
  text-align: center;
}

footer p {
  margin-top: 10%;
  text-align: center;
}

footer .icons {
  color: aliceblue;
  text-align: center;
}