      /* Set the margin and padding of the body to 0 */
      @font-face {
        font-family: Comic-Sans-MS;
        src: url(../assets/Comic\ Sans\ MS.ttf);
      }
      body {
        margin: 0;
        padding: 0;
      }

      /* Set the margin and padding of the header to 0 */
      header {
        background-image: url(../assets/bg.svg);
        background-repeat: no-repeat;
        background-size: cover;
        margin: 0;
        padding: 0;
        align-content: center;
        /* Set the height of the header to 100% of the viewport height */
        height: 100vh;
        background-color: #ec5e5e;
      }
      header h1 {
        color: aliceblue;
        margin-left: 50vh;
        margin-right: 110vh;
        font-family: Comic-Sans-MS;
        align-content: center;
        text-align: left;
        border-bottom: 3px solid aliceblue;
        line-height: 66px;
      }
      header p {
        margin-left: 60vh;
        font-size: 24px;
        color: aliceblue;
      }